.home-page {
  
  border: 2px solid black;
  width: 99.7%;
  background-color:blueviolet;
  height: 870px;
  display: flex;
  flex-direction: column;
}
.movies-page {

  border: 2px solid black;
  width: 99.7%;
  background-color:blueviolet;
  height: 870px;
  display: flex;
  flex-direction: column;
  
}


.nav-bar {

  border: 2px solid black;
  flex-direction: row;
  width: 99.7%;

}


.middle-title {
  border: 2px solid black;

}

.card-container {

  border: 2px solid black;
  height: 613px;
  width: 99.7%;
  margin-top: 170px;
  display: flex;
  flex-direction: row;


}

.movie-card {

  border: 2px solid black;
  padding: 40px;
  width: 13%;
  top: 80px;
  right: 500px;
  height: 188px;
  display: flex;
  
}

.movie-title {
  border: 2px solid black;
  height: 100px;
  width: 100%;
}